<% provide(:title, "Редактирование") %>

<div class="vpost">
	<%= form_for(@vpost) do |f| %>
	<%= render 'shared/error_messages' %>
	
	<div class="element-block">
		<%= f.label :title, "Заголовок" %>
		<%= f.text_field :title %>
	</div>
		
	<div class="element-block">	
		<%= f.label :vlink, "Ссылка для скачивания" %>
		<%= f.text_field :vlink %>
	</div>
	
	<div class="element-block">	
		<%= f.label :content, "Пост" %>
		<%= f.text_area :content, class: "new-content" %>
	</div>
	
		<%= f.submit "Сохранить пост", class: "" %>
	<% end %>
</div>