<header>
<div class="container first-post">
<%= link_to "Profit Sync", root_path, id: "logo" %>
<nav>
  <ul class="">
    <li><%= link_to "Скачать",    '#' %></li>
    <li><%= link_to "Changelog",    '#' %></li>
    <li><%= link_to "Инфо",    about_path %></li>
    <li><%= link_to "Контакты", contact_path %></li>
  </ul>
</nav>
<p>
Последняя версия 0.2.1
Обновлено 12.01.14
</p>
</div>
</header>